<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paystack</title>
</head>
<body>
<form id="paymentForm">
    <div class="form-group">
        <label for="email-address">Email Address</label>
        <input id="email-address" required type="email" />
    </div>
    <div class="form-group">
        <label for="amount">Amount</label>
        <input id="amount" required type="tel" />
    </div>
    <div class="form-group">
        <label for="first-name">First Name</label>
        <input id="first-name" type="text" />
    </div>
    <div class="form-group">
        <label for="last-name">Last Name</label>
        <input id="last-name" type="text" />
    </div>
    <div class="form-submit">
        <button type="submit">Pay</button>
    </div>
</form>

<script src="https://js.paystack.co/v1/inline.js"></script>
<script>
    const paymentForm = document.getElementById('paymentForm');
    paymentForm.addEventListener('submit', function(event) {
        event.preventDefault();
        payWithPaystack();
    });

    function payWithPaystack() {
        const handler = PaystackPop.setup({
            key: 'pk_test_2bd1847db9309248327cc9df2228692b4b9b91f6', // Replace with your public key
            email: document.getElementById('email-address').value,
            amount: document.getElementById('amount').value * 100, // the amount value is multiplied by 100 to convert to the lowest currency unit
            currency: 'USD', // Use GHS for Ghana Cedis or USD for US Dollars
            ref: '' + Math.floor((Math.random() * 1000000000) + 1), // Replace with a better reference generation method
            metadata: {
              "examId": "477a4e67-be47-4ef2-80b1-ee035fb69079",
              "userId" : "0b95353e-5e8a-4818-a78a-f4d8e773e416"
            },
            callback: function(response) {
                var reference = response.reference;
                alert('Payment complete! Reference: ' + reference);
                // Make an AJAX call to your server with the reference to verify the transaction
            },
            onClose: function() {
                alert('Transaction was not completed, window closed.');
            },
        });
        handler.openIframe();
    }
</script>
</body>
</html>
